<div class="w-full h-12">
  <nav class="h-full flex justify-between items-center">
    <div class="flex gap-8 items-center">
      <div class="bg-purple-2 p-2 rounded-lg h-12 w-18">
        <img
          src="assets/images/icon-accessibility.svg"
          alt="logo"
          class="h-full w-full"
        />
      </div>
      <h1 class="text-2xl font-bold text-dark-1 dark:text-white-1">
        Accessibility
      </h1>
    </div>
    <div class="flex items-center gap-6">
      <div class="dark:hidden">
        <img src="assets/images/icon-sun-dark.svg" alt="logo" class="h-8" />
      </div>
      <div class="hidden dark:block">
        <img src="assets/images/icon-sun-light.svg" alt="logo" class="h-8" />
      </div>
      <app-theme-switcher></app-theme-switcher>
      <div class="dark:hidden">
        <img src="assets/images/icon-moon-dark.svg" alt="logo" class="h-8" />
      </div>
      <div class="hidden dark:block">
        <img src="assets/images/icon-moon-light.svg" alt="logo" class="h-8" />
      </div>
    </div>
  </nav>
</div>
