<div class="w-full h-12 max-md:h-8">
  <nav class="h-full flex justify-between items-center">
    <div class="flex gap-3 items-center">
      <div *ngIf="selectedQuiz" class="flex gap-3 items-center">
        <div class="p-2 rounded-lg h-16 w-20 transition-all duration-300">
          <img [src]="selectedQuiz.icon" alt="logo" class="h-full w-full" />
        </div>
        <h1
          class="text-2xl font-bold text-dark-1 dark:text-white-1 transition-all duration-300"
        >
          {{ selectedQuiz.title }}
        </h1>
      </div>
    </div>

    <div class="flex items-center gap-6">
      <div class="dark:hidden">
        <img src="assets/images/icon-sun-dark.svg" alt="logo" class="h-8" />
      </div>
      <div class="hidden dark:block">
        <img src="assets/images/icon-sun-light.svg" alt="logo" class="h-8" />
      </div>
      <app-theme-switcher></app-theme-switcher>
      <div class="dark:hidden">
        <img src="assets/images/icon-moon-dark.svg" alt="logo" class="h-8" />
      </div>
      <div class="hidden dark:block">
        <img src="assets/images/icon-moon-light.svg" alt="logo" class="h-8" />
      </div>
    </div>
  </nav>
</div>
