<div
  class="flex justify-center w-full p-12 h-screen bg-gray-1 dark:bg-dark-2 transition-all duration-300 bg-[url('/assets/images/pattern-background-desktop-light.svg')] dark:bg-[url('/assets/images/pattern-background-desktop-dark.svg')] bg-cover bg-center"
>
  <div class="w-[85vw]">
    <app-navbar></app-navbar>
    <div class="flex justify-between mt-16 w-full">
      <div class="w-1/2">
        <app-course-content></app-course-content>
      </div>
      <app-course ></app-course>
    </div>
  </div>
</div>
