<div
  class="flex justify-center w-full p-12 max-md:p-6 max-sm:py-8 h-screen max-md:min-h-screen max-sm:min-h-screen bg-gray-1 dark:bg-dark-2 transition-all duration-300 bg-[url('/assets/images/pattern-background-desktop-light.svg')] max-md:bg-[url('/assets/images/pattern-background-tablet-light.svg')] dark:max-md:bg-[url('/assets/images/pattern-background-tablet-dark.svg')] dark:bg-[url('/assets/images/pattern-background-desktop-dark.svg')] max-sm:bg-[url('/assets/images/pattern-background-mobile-light.svg')] dark:max-sm:bg-[url('/assets/images/pattern-background-mobile-dark.svg')] bg-cover bg-center"
>
  <div class="w-[85vw]">
    <app-navbar [selectedQuiz]="selectedQuiz"></app-navbar>
    <div class="mt-16 max-md:mt-6 max-sm:mt-3 w-full">
      <app-course
        [quizData]="quizData"
        (quizSelected)="onQuizSelected($event)"
        (quizReset)="onQuizReset()"
      ></app-course>
    </div>
  </div>
</div>
